.Dashboard {
	width: 80vw;
	margin-left: 20vw;
	border: 1px solid rgba(0, 0, 0, 0);
	min-height: 100vh;
}

.categories-toolbar {
	margin-top: 67px;
	margin-left: 10px;
}

@media only screen and (max-width: 900px) {
	.Dashboard {
		width: 73vw;
		margin-left: 27vw;
	}
}

@media only screen and (max-width: 750px) { 
	.Dashboard {
		width: 67vw;
		margin-left: 33vw;
	}

	.categories-toolbar {
		margin-top: 10px;
		
	}
}