.Toolbar {
	height: 90px;
	width: 100%;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}

.Toolbar .categories {
	padding: 0;
	margin: 0 0 10px 0;
	text-decoration: none;
	list-style: none;
	font-weight: 700;
	font-size: 18px;
	display: flex;
}

.categories button {
	border-radius: 4px;
	margin-left: 40px;
	padding: 10px 17px;
	transition: all 0.25s ease;
	font-size: 16px;
	font-weight: 700;
	border: none;
	background-color: #F9F9F9;
}

button:focus {
	outline: none;
}

#selected {
	color: white;
	background-color: #887FDB;
}

/* .Toolbar .categories button:nth-of-type(1) {
	color: white;
	background-color: #887FDB;
} */

.Toolbar .categories button:hover {
	color: white;
	background-color: #887FDB;
}

.Toolbar .add-button {
	display: flex;
	font-size: 17px;
	color: #887FDB;
	align-items: center;
	cursor: pointer;
	outline: none;
	border: none;
	background: #F9F9F9;
	margin-right: 50px;
	margin-top: 5px;
	text-decoration: none;
}

.add-button img {
	width: 22px;
	margin-right: 20px;
}

@media only screen and (max-width: 925px) {
	.categories button {
		margin-left: 10px;
	}

	.add-button img {
		width: 18px;
		margin-right: 15px;
	}

	.Toolbar .add-button {
		font-size: 13px;
		margin-bottom: 5px;
		margin-right: 10px;
	}
}

@media only screen and (max-width: 750px) { 
	.Toolbar {
		height: 90px;
		margin-top: 80px;
		align-items: center;
	}
	
	.Toolbar .categories {
		width: 250px;
		flex-wrap: wrap;
		align-items: flex-start;
		margin-bottom: 0px;
	}

	.Toolbar .add-button {
		margin-right: 10px;
		padding: 0;
	}
}