.Writer {
	width: 80vw;
	margin-left: 20vw;
	background-color: #F9F9F9;
	height: 100vh;
}

@media only screen and (max-width: 900px) {
	.Writer {
		width: 73vw;
		margin-left: 27vw;
	}
}


@media only screen and (max-width: 750px) {
	.Writer {
		width: 67vw;
		margin-left: 33vw;
	}
	
}
