:root {
    --main-purple: #887FDB;
}

.Button {
    font-size: 15px;
    letter-spacing: 1.47px;
    width: 139px;
    height: 44px;
    border-radius: 22px;
    cursor: pointer;
    outline: none;
}

.withColor {
    color: #FFF;
    background-color: var(--main-purple);
    border: none;
    transition: all 0.1s;
}

.withColor:hover {
    color: var(--main-purple);
    background-color: #FFF;
    border: 1px solid var(--main-purple);
    transition: all 0.2s;
}

.plain {
    color: var(--main-purple);
    background-color: #FFF;
    border: 1px solid var(--main-purple);
}

.plain:hover {
    color: #FFF;
    background-color: var(--main-purple);
    border: none;
    transition: all 0.2s;
}