.outer-login {
    display: flex;
    justify-content: center;
    align-items: center;
}
.Login {
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    background-color: white;
    width: 350px;
    border-radius: 18px;
    box-shadow: 0 2px 10px 6px rgba(0,0,0,0.09);
    padding: 5vh 2vw;

}

.Login .login-error-text {
    /* display: none; */
    margin-top: 10px;
    margin-bottom: -20px;
    padding: 0;
    font-size: 14px;
    color: #FF5050;
}

.Login .login-error {
    border: 1px solid #FF5050;
    background-color: #FFD9D9;
}


.Login input {
    width: 95%;
    height: 10vh;
    font-size: 17px;
    border: none;
    background-color: #F1F1F1;
    border-radius: 5px;
    padding-left: 10px;
    margin-top: 20px;
    outline: none;
}



/*Position CSS Classes*/

.top-right {
    margin: 0;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.bottom-center {
    margin-top: 20px;
}

.bottom-center Button {
    margin: 5px;
}

.bottom-input-link {
    margin: 10px;
}

.top-centered {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.top-centered Button {
    margin: 0 10px 20px 10px;
}


.Login h1 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 30px;
    color: #484848;
}

.Login p {
    margin: 0;
    font-size: 16px;
    color: #484848;
    text-align: center;
    line-height: 25px;
}

.btn-link {
    font-weight: 700;
    font-size: 16px;
    background-color: white;
    border: none;
    outline: none;
    cursor: pointer;
    color: #484848;
}

.example-enter {
    opacity: 0.01
}

.example-enter.example-enter-active {
    opacity: 1;
    transition: opacity 1s ease-in;
}

.example-leave {
    opacity: 1;
}

.example-leave.example-leave-active {
    opacity: 0.01;
    transition: opacity 1s ease-in;
}

